@media (min-width: 576px) and (max-width: 767.98px) {
  /* Background color */
  html, body, .navbar-custom{
    background-color: #000000;
  }

  /* section navigation bar */
  #navigation-bar .container {
    padding:0px;
  }

  .resize {
    width:100%;
  }

  /* scroll  */
  .scroll {
    width:568px;
    height:700px;
    overflow-y:scroll;
  }

  .scroll-menu {
     height:1385px;
     top:80px
  }

  #scroll-bar {
    padding-top:10%;
  }

  .padding-top {
    padding-top:10%;
  }

  #navbarNav {
    display:flex;
    justify-content: flex-end;
    z-index:1000;
  }


  .no-padding {
    padding:0px;
  }
  /* custom columns */
  #inner-row-custom-col-2 {
    border:2px solid #760EF1;
    box-sizing:border-box;

  }

  .nav-link {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 1.000em;
    line-height: 19px;

    }

  .purple-bg {
    background:linear-gradient(162.77deg, #8000F1 12.24%, #00ABF2 158.81%);
  }

  /* images */
  .img1 {
    width:568px;
    height:387px;
    left:0px;
    top:0px;
    border:2px solid #760EF1;
    box-sizing:border-box;
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url('https://sdg.lamayor.org/sites/g/files/wph1131/f/styles/large_hero_1920_x_1080/public/la_cityhall_1920x1280_.png?itok=kzEhGEz6');
  }

  #col-img1 {
    background-image:url("https://sdg.lamayor.org/sites/g/files/wph1131/f/styles/large_hero_1920_x_1080/public/la_cityhall_1920x1280_.png?itok=kzEhGEz6");
    background-repeat: no-repeat;
    background-size:contain;

  }
  /* padding  */
  p {
    padding-top:5px;
  }

  /* Icons*/
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  /* header,links,para color */
  .navbar-brand, ul a, h6,h1, p,h4,h5, h3,footer{

    color:white;
  }
  /* navigation */
  .navbar {
    padding-right:3%;
  }



  /*font sizes logo*/
  .navbar-brand {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size:1.500em;
    line-height: 29px;
  }



  /* topgraphy*/

  h1 {
    font-family: IBM Plex Sans;
  }

  h2,h3,h4,h5,h6 {
    font-family: Lato;
  }


  /* font sizes */

  #hp1 {
    font-size: 1.500em;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;

  }



    #hp2 {
      font-style: normal;
      font-weight: 500;
      font-size: 3em;
      line-height: 62px;
    }

    #hp3 {
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      line-height: 19px;
    }

    #hp4 {
      font-style: normal;
      font-weight: 500;
      font-size: 1em;
      line-height: 21px;
    }

    .hp5 {
      font-style: normal;
      font-weight: normal;
      font-size: 0.476rem;
      line-height: 12px;
    }

    #hp6 {
      font-style: normal;
      font-weight: bold;
      font-size: 0.750em;
      line-height: 18px;
    }
  /* view work */
  .view-work {
    padding-top:10px;
  }

  #arrow {
      width:16px;
     height:16px;
     padding-top:2%;

  }

  /* skills tag */
  .skill-tags {
    display:flex;
    width: 66px;
    height: 18px;
  }

  .skill-1 {
    width: 36px;
    height: 18px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-align:center;
    padding:3px;
  }

  .skill-1 h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 0.625em;
    line-height: 12px;
  }
  .skill-2 {
    width: 50px;
    height: 18px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-align:center;
    padding:3px;
    margin-left:10px;
  }

  .skill-2 h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 0.625em;
    line-height: 12px;
  }
  /* column 2 */
  #custom-col-2 {
    padding:6%;
    width:100%;
    height:1013px;


  }

  #inner-custom-col-2 {
    padding-top:3px;
    background:rgb(23,10,45);
    box-shadow:0px -13px 40px rgba(0,0,0,0.08);

    padding:3px 15px 0px 3px;

  }

  /* scroll shadow */
  .scroll-shadow {
    background: rgba(0, 0, 0, 0.7);

  }

  /* font sizes links and text */
  ul a {
    font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 19px;

  }

  a, a:hover {
    text-decoration:none;
  }
  /* hover */
  a:hover {

    color:white;
  }

  /* embellishments */
  .rectangle {
    width:200px;
    height:6px;
    left:4px;
    top:138px;
    background:linear-gradient(171.93deg, #8000F1 12.24%, #00ABF2 158.81%);
  }

  /* icons */
  .fa {
    color:white;
  }

  .fa-arrow-right {
    padding-left:5px;

  }


  /* footer */
  #footer {
    padding-top:20%;

  }

  #social-links {
    display:flex;
    justify-content:flex-end;
    padding-right:3%;
  }

  #copyright-padding-left {
    padding-left:4%;
  }

  footer .col-md-6 {
    padding:0px;
  }


  #copyright-txt {
    width:91px;
    height:14px;
    font-family: Lato, sans-serif;
    font-style:normal;
    font-weight:500;
    font-size:0.5714285714285714rem;
    line-height:14px;
    color:#FFFFFF;
  }

  /* CSS for projects.html */
  .dates h6, .role h6 {
    margin:0px;
  }

  #inner-col-row-1 {
    display:flex;
    padding-top:10%;
  }

  #inner-col-row-2 {
    display:flex;
  }

  #inner-col-row-1 h6, #inner-col-row-2 h6 {
    margin-bottom:0px;
  }

  .padding-bottom {
    padding-bottom:5%;
  }

  #para-1, #para-2, #para-3, #para-4, #para-5 {
    padding-top:10%;
  }

  #ita {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 0.750em;
    line-height: 14px;
  }

  #gender-equity {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 42px;
  }

  .subheader {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625em;
    line-height: 12px;
  }

  .subheader-txt {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 19px;
  }

  .inner-col-buttons-btns {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.6666666666666666rem;
    line-height: 22px;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 31px;

  }

  p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 26px;
  }

  #banner-img {
    padding-top:20%;
  }

  #content {

    padding-top:5%;
  }

  #profile-pic {
    height:157px;
    border:2px solid #760EF1;
    box-sizing:border-box;

  }

  #about {
    padding-top:10%;
  }
  #about-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 29px;
  }

  #row2 {
    padding-top:10%;
  }

  #row3 {
    padding-top:10%;
  }

  .margin-left {
    margin-left:3%
  }

  .margin-top {
    margin-top:3%;
  }

  .about-title-txt {
    color:rgb(255,255,1);
    font-size:1.3em;
  }

  /* Contact Form */

  .form-center-container {
    padding-top:10%;
  }

  .form-text-color {
    color:#FFFFFF;
  }


}
